
@{
    ViewData["Title"] = "Manager";
}

<h2>Manager</h2>

<h2>Manager</h2>

<div>
    <td>
        <a asp-controller="DeliveryNote" asp-action="ReviewDeliveryNotes">ReviewDeliveryNotes</a>
    </td>
</div>
<div></div>

<div>
    <td>
        <a asp-action="InsertConfirmDelivery" >Potwierdź</a>
    </td>
</div>
