@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

<div id="main" class="templatemo-content col-1 light-gray-bg">
    <address>
        DonBalon Company<br />
        O.Kalinowska, K.Kłys, P. Jeziorski<br />
        Nowa 2, 99-258 Łódź<br />
        <abbr title="Phone">P:</abbr>
        600222555
    </address>

    <address>
        <strong>Support:</strong> <a href="pawel.jeziorski.97@gmail.com">Support@donbalon.com</a><br />
    </address>
</div>