@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

<div id="main" class="templatemo-content col-1 light-gray-bg">
    <h2>Trigger</h2>

    <div>
        <td>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </td>
    </div>
</div>