
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

<div id="main" class="templatemo-content col-1 light-gray-bg">

    <div style="margin:100px;padding-top:80px">




        @{
            ViewData["Title"] = "InsertUpdate";
        }

        <h2>Koryguj fakturę</h2>

        @using (Html.BeginForm("Update", "Invoice"))
        {
            <b>
                Numer faktury:
            </b>
            <input id="InvoiceNumber" name="InvoiceNumber" type="text" />

            <br />

            <input type="submit" value="Potwierdź" />
        }

        <div>
            <a asp-controller="Home" asp-action="Index">Powrót</a>
        </div>
    </div>
</div>
