
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

<div id="main" class="templatemo-content col-1 light-gray-bg">

    <div style="margin:100px;padding-top:80px">


        <h2>Faktura</h2>
        <p> Podaj numer zamówienia oraz adres email w celu weryfikacji</p>


        @using (Html.BeginForm("PrintInvoice", "Invoice"))
        {
            <input id="SearchBy" name="SearchBy" type="hidden" value="OrderNumber"/>
            <label for="OrderNumber">Numer zamówienia</label>
            <input id="OrderNumber" name="OrderNumber" type="text" />
            <label for="email">Adres email</label>
            <input id="email" name="email" type="text" />
            <input type="submit" value="Potwierdź" />
        }
        <div>
            <a asp-controller="Home" asp-action="Index">Powrót</a>
        </div>
    </div>
</div>